html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#menu {
  display: none;
}
/** fim do normalizador **/

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

body {
  font-family: address-sans-pro, sans-serif;

  padding: 0;
  margin: 0;
  background: #181818;
  color: #333;
}

@-ms-viewport {
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-timing-function: ease-out;
  -ms-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-timing-function: ease-out;
  -o-transition-delay: 0;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-delay: 0;*/
}

img,
svg {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
  text-decoration: none !important;
}
section {
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 200px 6vw;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: gibbs, sans-serif;
  font-weight: 700;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: gibbs, sans-serif;
  height: 1px;
  background-color: #181818;
  height: 110px;
  padding: 30px 6vw 0 6vw;
  position: fixed;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 9999;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
}
header.active {
  /*color: #000;*/
}
header::after {
  content: '';
  /*border-bottom: 1px solid rgba(0,0,59,0.1);*/
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
}
header .hashtag {
  font-weight: 900;
}
header {
}
header > div {
}
header nav ul {
  display: flex;
  padding-top: 5px;
  margin-top: -5px;
}
header nav ul li {
}
header nav ul li a {
  font-size: 1.1em;
  display: block;
  padding: 20px 30px;
  line-height: 1em;
}
header nav ul li a.cta {
  font-size: 1.08em;
  display: block;
  padding: 20px 30px;
  line-height: 1em;
  margin-left: 15px;
}
/*
#menu:checked ~ header .cta {
  border: 1px solid #ffffff;
  color: #fff;

  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
*/

.cta {
  background-color: #ffe433;
  border-radius: 5px;
  line-height: 44px;
  display: table;
  padding: 0 30px;
  width: auto;
  color: #000;
  position: relative;
  border: 0;
  cursor: pointer;
  display: inline-block;

  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;

  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate(0px, 0px);
}
.cta.grande {
  font-size: 1.3em;
  line-height: 58px;
  padding: 0 0px;
  text-align: center;
  width: 280px;
}
.cta.sec {
  background-color: transparent;
  color: #ffe433;
}
.cta.sec::after {
  content: '';
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #ffe433;
}
.cta:hover {
  background-color: #fff133;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.26);
  -webkit-transform: translate(0px, -4px);
}
.cta:active {
  background-color: #fff133;
  color: #000;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate(0px, -0px);
}
.cta:focus {
  color: #000;
}

.cta.sec:focus {
  color: inherit;
}

.cta.rosa {
  background-color: #ff0259;
  color: #fff;
}

.cta.rosa:hover {
  background-color: #ff0259;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.26);
  -webkit-transform: translate(0px, -4px);
}
.cta.rosa:active {
  background-color: #ff0259;
  color: #fff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate(0px, -0px);
}
.cta.rosa:focus {
  color: #fff;
}

.logo {
  width: 150px;
}

.bt-menu {
  display: none;
}
h2 {
  font-size: 3.4vw;
  color: #ff0259;
  padding: 0 50px;
  position: relative;
  display: table;
  margin: 0 0 50px 0;
}
.amarelo {
  color: #ffe433;
}
h2:after {
  content: '';
  left: 0;
  top: 5px;
  bottom: 5px;
  position: absolute;
  background-image: url(img/srl.png);
  width: 50px;
  pointer-events: none;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

h2:before {
  content: '';
  right: 0;
  top: 5px;
  bottom: 5px;
  position: absolute;
  background-image: url(img/srr.png);
  width: 50px;
  pointer-events: none;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
h2.amarelo:after {
  background-image: url(img/sal.png);
}
h2.amarelo:before {
  background-image: url(img/sar.png);
}
.topo-dec {
  background-color: #243638;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.topo-dec::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 100px;
  background-image: url(img/decl.svg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.topo-dec::before {
  content: '';
  position: absolute;
  background-color: #243638;
  right: 0;
  top: 0;
  height: 35px;
  width: 100px;
  background-image: url(img/decr.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
/***** topo *****/
#topo {
  color: #fff;
}
#topo .container {
  display: flex;
  flex-wrap: wrap;
}
#topo .container .coluna:nth-child(1) {
  flex: 0 0 60%;
}
#topo .container .coluna:nth-child(2) {
  flex: 0 0 40%;
  padding-left: 50px;
}
#topo h1 {
  font-size: 3.7vw;
}
#topo h1 span {
  font-size: 18px;
  display: block;
  color: #ff0259;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#topo .data {
  font-size: 1.7em;
  margin-top: 30px;
}
#topo .botoes {
  margin-top: 55px;
}

#topo .botoes a:nth-child(1) {
  margin-right: 15px;
  margin-bottom: 20px;
}

/***** sobre *****/
#sobre {
  background-color: #fff;
  border-top: 20px solid #ff0259;
}
#sobre .container {
  display: flex;
  flex-wrap: wrap;
}
#sobre .container .coluna:nth-child(1) {
  flex: 0 0 45%;
}
#sobre .container .coluna:nth-child(2) {
  flex: 0 0 55%;
  padding-left: 50px;
}
#sobre .texto {
  font-size: 1em;
}

/**** palestras ****/
#palestras {
  background-image: url(img/fundo-palestras.jpg);
  background-position: center;
  position: relative;
  color: #fff;
}
#palestras::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(144, 19, 254, 0.94);
}
#palestras .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
#palestras p {
  font-size: 1.5em;
  max-width: 530px;
}
.palestrantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.palestrantes .box {
  flex: 0 0 260px;
  padding-top: 20px;
  margin: 30px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  overflow: hidden;

  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.palestrantes .box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate(0px, -10px) scale(1.03);
}
.palestrantes .img {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: center;
  background-color: #181818;
  position: relative;
}
.palestrantes .img span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.palestrantes .box:hover .img span {
  opacity: 1;
}
.palestrantes .img a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 7px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
.palestrantes .linkedin {
  background-image: url(img/logo/linkedin.svg);
}
.palestrantes .facebook {
  background-image: url(img/logo/face.svg);
}
.palestrantes .twitter {
  background-image: url(img/logo/twitter.svg);
}
.palestrantes .instagram {
  background-image: url(img/logo/insta.svg);
}
.palestrantes .git {
  background-image: url(img/logo/git.svg);
}
.palestrantes .topo-dec {
  margin-top: -20px;
  z-index: 2;
}
.palestrantes .infos {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: left;
}
.palestrantes .infos h4 {
  margin: 0 0 6px 0;
  font-size: 16px;
  color: #ff0259;
  font-weight: 700;
}

.palestrantes .infos span {
  display: block;
  font-size: 1em;
  margin-bottom: 4px;
}
.one-word {
  white-space: nowrap;
}
/**** programacao ****/
#programacao {
  background-color: #fff;
}

#programacao h2 {
  margin: auto;
  margin-bottom: 50px;
}

#programacao .box .horario {
  width: 100%;
  flex: 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 700;
}
#programacao .box .infos > div {
  display: flex;
  /*	align-items: center;
  justify-content: center;*/
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 30px;
}
#programacao .box .infos > div::after {
  content: '';
  border-bottom: 1px solid #f5f5f5;
  width: 80%;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}
#programacao .box .infos > div .img {
  flex: 0 0 52px;
  height: 52px;
  background-color: #fff;
  margin-right: 20px;
  margin-top: 14px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
#programacao .box .infos .nome {
  margin: 0 0 0px 0;
  font-size: 15px;
  color: #ff0259;
  font-weight: 700;
}
#programacao .box .infos .palestra {
  margin: 0 0 8px 0;
  font-size: 21px;
  color: #fff;
  font-weight: 700;
}
#programacao .box .infos .resumo {
  font-size: 14px;
  color: #f5f5f5;
  /*max-width: 650px;*/
}
/* Schedule table */
.schedule-table {
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin: 60px auto 0 auto;
  /* padding: 35px 30px 5px 30px; */
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  position: relative;
  background-color: #181818;
  overflow-x: auto;
  color: #fff;
}

@media (min-width: 62em) {
  .schedule-table {
    overflow-x: initial;
  }
}

.ada-lovelace {
}

.alan-turing {
  background-color: #ff0259;
  color: #fff;
}

.grace-hopper {
  background-color: #ffe433;
  color: #000;
}
#programacao .mobile-disclaimer {
  /* color: #ababab; */
  font-style: italic;
}

@media (min-width: 62em) {
  #programacao .mobile-disclaimer {
    display: none;
  }
}

.schedule-table a {
  /* color: #fff; */
  border-bottom: solid 0.125rem #fdc200;
  margin-top: 0.5em;
  display: inline-block;
  padding: 0 0.1em;
  /* margin-bottom: 0.625rem; */
}

.schedule-table a:hover,
.schedule-table a:focus {
  color: #fdc200;
  border-color: transparent;
}

.alan-turing a {
  border-color: #fdc200;
}
.alan-turing a:hover,
.alan-turing a:focus {
  border-color: transparent;
}

.grace-hopper a {
  border-color: #ff0259;
}
.grace-hopper a:hover,
.grace-hopper a:focus {
  border-color: transparent;
}

.schedule-table .title {
  /* color: #fdc200; */
  /* font-size: 1.25rem; */
  border: 0;
  margin: 0;
  text-align: left;
  /* padding-bottom: 0.625rem; */
}

.schedule-table table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table table div {
  opacity: 0.8;
}

.schedule-table thead th {
  /* font-size: 1.25rem; */
  vertical-align: middle;
}

.schedule-table thead th:last-child {
  border-top-right-radius: 10px;
}

.schedule-table th {
  text-align: center;
  /* color: #fdc200; */
}

.schedule-table th span {
  display: block;
  /* color: #fff; */
  /* font-size: 0.875rem; */
}

.schedule-table th,
.schedule-table td {
  position: relative;
  padding: 0.75rem 0.75rem;
}

.schedule-table tbody th,
.schedule-table tbody td {
  border-top: solid 1px #ababab;
}

.schedule-table tbody [colspan='3'],
.schedule-table .interval {
  background-color: rgba(255, 255, 255, 0.1);
}

.schedule-table tbody td {
  min-width: 17.5rem;
}
.schedule-table td {
  position: relative;
  z-index: 4;
}

.schedule-table td div:before {
  content: '';
  border: solid 7px;
  border-color: transparent transparent #fff transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-100%);
  display: block;
}

.schedule-table td p {
  margin: 0;
}
.schedule-table td p + p {
  margin-top: 10px;
}
.schedule-table td div {
  border-radius: 5px;
  display: none;
  position: absolute;
  top: calc(100% - 0.25em);
  left: 0;
  background-color: #fff;
  padding: 10px;
  opacity: 1;
  color: #181818;
}
.schedule-table td:hover {
  z-index: 5;
}
.schedule-table td:hover div,
.schedule-table td:hover div:before {
  display: block;
}

@media (min-width: 62em) {
  .schedule-table tbody td {
    min-width: auto;
  }
}

.schedule-table p {
  max-width: 100%;
}

.schedule-table .highlight-uppercase {
  text-transform: uppercase;
}

/**** local ****/
#local {
  color: #fff;
}
#local .nome-local {
  background-color: #000;
  padding: 20px;
  font-size: 2em;
  font-family: gibbs, sans-serif;
  font-weight: 700;
  display: table;
  margin-top: -20px;
}
#local .container {
  display: flex;
  flex-wrap: wrap;
}
#local .container .coluna:nth-child(1) {
  flex: 0 0 45%;
}
#local .container .coluna:nth-child(2) {
  flex: 0 0 55%;
  padding-left: 50px;
}
#local p {
  margin-top: 30px;
}
#local .cta {
  margin-top: 30px;
}
/***** ingressos *****/
#ingressos {
  background-image: url(img/ingressos.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
#ingressos::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#ingressos .container {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

#ingressos h2 {
  margin: auto;
  margin-bottom: 50px;
}
#ingressos .ingressos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#ingressos .ingressos .box {
  flex: 0 0 300px;
  margin: 30px;
  background-color: #fff;
  padding: 0 30px 30px 30px;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
}
#ingressos .ingressos .box .lote {
  line-height: 56px;
  font-size: 1.3em;
  text-align: center;
  background-color: #fff;
  display: block;
  width: calc(100% + 60px);
  margin-left: -30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 30px;
  font-family: gibbs, sans-serif;
  font-weight: 700;
  color: #ff0259;
}
#ingressos .ingressos .box .preco {
  font-size: 2.3em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}
#ingressos .ingressos .box .data {
  font-size: 0.8em;
  text-align: center;
}
#ingressos .ingressos .box .linha {
  height: 1px;
  width: 80%;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.1);
}
#ingressos .ingressos .box .vantagens ul {
  display: table;
  margin: 15px auto 20px auto;
}
#ingressos .ingressos .box .vantagens ul li {
  padding-left: 28px;
  line-height: 30px;
  background-image: url(img/check.png);
  background-size: 18px;
  background-position: center left;
  background-repeat: no-repeat;
}
#ingressos .ingressos .box.disable * {
  color: #a5a5a5 !important;
}

#ingressos .ingressos .box.disable .cta {
  -webkit-transform: translate(0px, -0px) !important;
  box-shadow: none !important;
  background-color: #d4d4d4;
  pointer-events: none;
}
#ingressos .ingressos .box .cta {
  width: 100%;
}
/******* palestras ********/
h3 {
  font-family: gibbs, sans-serif;
  font-weight: 700;
}
#patrocinadores {
  background-color: #fff;
  border-top: 20px solid #ff0259;
  text-align: center;
}
#patrocinadores .container {
  padding-top: 80px;
}
#patrocinadores h2 {
  margin: auto;
}
#patrocinadores p {
  font-size: 1.1em;
  max-width: 530px;
  margin: 40px auto;
}
#patrocinadores .patrocinadores {
  max-width: 1000px;
  margin: 100px auto 0 auto;
  padding: 65px 30px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#patrocinadores .patrocinadores > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#patrocinadores .patrocinadores .box {
  border-radius: 50%;
  flex: 0 0 100px;
  height: 100px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  display: block;
  margin: 10px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
#patrocinadores .patrocinadores .box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate(0px, -4px);
}
#patrocinadores .patrocinadores h3 {
  flex: 0 0 100%;
  text-align: center;
}
#patrocinadores .patrocinadores .categoria-a h3 {
  font-size: 2em;
}
#patrocinadores .patrocinadores .categoria-a .box {
  flex: 0 0 150px;
  height: 150px;
}
#patrocinadores .patrocinadores .categoria-b h3 {
  font-size: 1.75em;
}
#patrocinadores .patrocinadores .categoria-b .box {
  flex: 0 0 130px;
  height: 130px;
}
#patrocinadores .patrocinadores .categoria-c h3 {
  font-size: 1.5em;
}
#patrocinadores .patrocinadores .categoria-c .box {
  flex: 0 0 110px;
  height: 110px;
}
#patrocinadores .patrocinadores .categoria-d h3 {
  font-size: 1.25em;
}
#patrocinadores .patrocinadores .categoria-d .box {
  flex: 0 0 90px;
  height: 90px;
}

#patrocinadores .apoio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#patrocinadores .apoio .box {
  border-radius: 50%;
  flex: 0 0 80px;
  height: 80px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  display: block;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#patrocinadores .apoio .box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate(0px, -4px);
}
#patrocinadores .apoio h3 {
  flex: 0 0 100%;
  text-align: center;
}

/***** footer *****/
footer {
  color: #fff;
  background-color: #000;
}
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .redes {
  display: flex;
}

footer .redes a {
  display: block;
  height: 30px;
  width: 30px;
  margin: 5px 20px 20px 0px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
footer .title {
  color: #ffe433;
  font-family: gibbs, sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}
footer .container .coluna:nth-child(1) {
  flex: 0 0 50%;
  padding-right: 40px;
  padding-top: 30px;
}
footer .container .coluna:nth-child(2) {
  flex: 0 0 50%;
  padding-left: 40px;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
}
.rights {
  text-align: center;
  padding: 25px;
}

footer .codigo {
  background-color: #9013fe;
  padding: 30px;
}
footer .coluna:nth-child(1) p {
  margin-top: 30px;
  margin-bottom: 50px;
}
footer .codigo a {
  color: #fff133;
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  header nav ul li a {
    font-size: 1.1em;
    display: block;
    padding: 20px 22px;
    line-height: 1em;
  }
  h2 {
    font-size: 2.5em;
  }

  h2:after {
    background-size: 25px;
    background-position: center left;
  }

  h2:before {
    background-size: 25px;
    background-position: center right;
  }
  #local .container .coluna:nth-child(2) {
    /*		display: flex;
    justify-content: center;
    align-items: center;*/
  }
}

@media only screen and (max-width: 786px) {
  .logo {
    z-index: 9999;
  }

  .bt-menu span {
    position: absolute;
    left: -54px;
    top: 14px;
    font-weight: 300;
    font-size: 1.1em;
    padding-right: 20px;
    /*text-transform: uppercase;*/
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    color: #fff;
  }
  .bt-menu:hover span {
    text-decoration: underline;
  }
  .bt-menu {
    text-align: center;
    width: 47px;
    height: 45px;
    display: block;
    cursor: pointer;
    padding: 10px;
    padding-top: 11px;
    /*border: 1px #fff solid;*/
    position: absolute;
    margin: auto;
    top: 36px;
    right: 35px;
    z-index: 100;
    line-height: 1em;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
    z-index: 9999;
  }
  .active .bt-menu {
    /*background-color: rgba(200,169,100,0.5);*/
    /*background-color: rgba(255,255,255,0.5);*/
  }
  .active .bt-menu,
  #menu:checked ~ header .bt-menu {
  }
  #menu:checked ~ header {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .bt-menu::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #1a1c1f;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;

    -webkit-transition-delay: 0ms;
  }
  .bt-menu div {
    display: inline-block;
    top: -1px;
    width: 25px;
    position: relative;
    height: 25px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }

  .bt-menu div ul {
  }
  .bt-menu div ul li {
    border-bottom: 2px solid #fff;
    width: 100%;
    position: absolute;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }

  .active .bt-menu div ul li {
    border-bottom: 2px solid #fff;
  }

  .bt-menu div ul li:nth-child(1) {
    top: 0;
    width: 100%;
  }
  .bt-menu div ul li:nth-child(2) {
    top: 10px;
  }
  .bt-menu div ul li:nth-child(3) {
    top: 20px;
  }
  #menu:checked ~ header .bt-menu::after {
    width: 100%;
  }
  #menu:checked ~ header .bt-menu::before {
    width: 100%;
  }
  #menu:checked ~ header .bt-menu div {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px;
  }
  #menu:checked ~ header .bt-menu div ul li:nth-child(1) {
    top: 10px;
    border-bottom: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
  }
  #menu:checked ~ header .bt-menu div ul li:nth-child(2) {
    top: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
    border-bottom: 2px solid #fff;
  }
  #menu:checked ~ header .bt-menu div ul li:nth-child(3) {
    top: 10px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  #menu:checked ~ header .bt-menu::before {
    width: 100%;
  }
  #menu:checked ~ header .bt-menu:hover div ul li {
    border-bottom: 2px solid #fff;
    width: 100%;
    position: absolute;
  }
  #menu:checked ~ header .bt-menu span {
    opacity: 0;
  }

  nav {
    display: flex;
    position: fixed;
    background-color: #111;
    color: #fff;
    z-index: 99;
    top: 110px;
    left: 0;
    bottom: 0;
    right: 0;
    /*line-height: 130px;*/
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 600ms, transform 700ms;
    -moz-transition: opacity 600ms, transform 700ms;
    -ms-transition: opacity 600ms, transform 700ms;
    -o-transition: opacity 600ms, transform 700ms;
    transition: opacity 600ms, transform 700ms;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    pointer-events: none;
    color: #fff;
  }
  .cls-1,
  .cls-2,
  .cls-3 {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }

  #menu:checked ~ header nav {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;

    -webkit-transition: opacity 600ms, transform 300ms;
    -moz-transition: opacity 600ms, transform 300ms;
    -ms-transition: opacity 600ms, transform 300ms;
    -o-transition: opacity 600ms, transform 300ms;
    transition: opacity 600ms, transform 300ms;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  nav .display-menu {
    flex: 0 0 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 100px;
  }
  nav .display-menu .principal img {
    width: 100%;
    height: auto;
  }
  nav ul {
    flex: 0 0 100%;
    height: 100%;
    flex-wrap: wrap;
    display: block !important;
    padding: 30px;
    transform: translate3d(0, 5%, 0);
    opacity: 1;
    -webkit-transition: opacity 500ms, transform 700ms;
    -moz-transition: opacity 500ms, transform 700ms;
    -ms-transition: opacity 500ms, transform 700ms;
    -o-transition: opacity 500ms, transform 700ms;
    transition: opacity 500ms, transform 700ms;
    width: 100%;
    margin-bottom: 60px;
    min-height: 350px;
  }
  nav ul li {
    font-size: 1.2em;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 10px 0;
    width: 100%;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
  }
  nav ul li .cta {
    color: #000;
    margin-top: 25px;
  }

  #menu:checked ~ nav ul,
  #menu:checked ~ nav .display-menu .principal {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  #menu:checked ~ nav ul li {
    margin: 20px 0;
  }
  .container {
    width: 100%;
    padding: 100px 30px;
  }
  #topo .container {
    padding: 150px 30px;
  }
  #topo .container .coluna:nth-child(1) {
    flex: 0 0 100%;
  }
  #topo .container .coluna:nth-child(2) {
    flex: 0 0 100%;
    padding-left: 0px;
    display: none;
  }
  #topo h1 {
    font-size: 2.5em;
  }
  #topo .cta.grande {
    width: 48%;
  }
  #topo .cta.grande:nth-child(1) {
    margin-right: 4%;
  }
  #sobre .container .coluna:nth-child(1) {
    flex: 0 0 100%;
  }
  #sobre .container .coluna:nth-child(2) {
    flex: 0 0 100%;
    padding-left: 0;
  }
  #sobre .container .coluna:nth-child(2) img {
    max-width: 400px;
    margin: 30px auto 0 auto;
  }
  #sobre h2 {
    margin: auto;
    margin-bottom: 40px;
  }
  #local .container .coluna:nth-child(1) {
    flex: 0 0 100%;
  }
  #local .container .coluna:nth-child(2) {
    flex: 0 0 100%;
    padding: 0;
    margin-top: 50px;
  }
  footer .container .coluna:nth-child(1) {
    flex: 0 0 100%;
    padding-left: 0px;
    margin-bottom: 40px;
  }
  footer .container .coluna:nth-child(2) {
    flex: 0 0 100%;
    padding-left: 0px;
  }
  #programacao .box {
    flex-wrap: wrap;
    padding: 25px 30px;
  }
  #programacao .box .horario {
    width: 100%;
    flex: 0 0 100%;
    padding: 25px 0 40px 0;
    font-size: 2.3em;
  }
}

@media only screen and (max-width: 550px) {
  #topo .cta.grande {
    width: 280px;
  }
  #topo .cta.grande:nth-child(1) {
    margin-right: 4%;
  }
  #topo h1 {
    font-size: 1.8em;
  }
  #local .nome-local {
    font-size: 1.3em;
  }
  #programacao .container {
    padding: 30px 10px;
  }
  #programacao .box {
    margin-top: 20px;
    padding: 20px 18px;
  }
  #programacao .box .infos > div .img {
    display: none;
  }
  #local .nome-local {
    margin-top: 20px;
  }
}
@media only screen and (max-height: 450px) {
  nav {
    overflow: auto;
  }
}

@media only screen and (min-width: 786px) {
  header nav ul {
    overflow: hidden;
  }
  header nav ul li a.cta {
    margin-right: -140px;
  }
  header.active nav ul li a.cta {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 425px) {
  #topo .cta.grande {
    width: 100%;
  }
  .cta.grande {
    width: 100%;
  }
  #topo .cta.grande:nth-child(1) {
    margin-right: 0%;
  }
  h2 {
    font-size: 1.8em;
    margin: auto;
    padding: 0 35px;
  }
  #patrocinadores .patrocinadores {
    padding: 65px 0px;
  }
}

@media only screen and (max-width: 320px) {
  .bt-menu span {
    display: none;
  }
}
